*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    /* min-height: 100%; */
}

body{
    background-image: url("assests\blood.png");
    background-size: cover;
    background-position: center; 
    background-color: grey;
}
#heading{
    align-items: center; justify-items: center; color:white ; background-color: black;
}