*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    /* min-height: 100%; */
}

body{
    background-image: url("https://wallpapers.com/images/hd/anime-sky-g5t12bga7nhfpkv6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 

    font-family: "Comic Sans MS";
    color: white;
    width: 100%;
}
#heading{
    justify-content: center;
    /* background-color: beige; */
}

#fake1{
    height: 60px;
}

#git_cards{
    /* background-color: aqua; */
    margin-left: 20px;
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

#knowledge{
    margin-left: 30px;
}