body{
    /* display: flex;
    justify-content: center; */
    background-color: hsl(244, 27%, 10%);
    font-family: Comic Sans MS;
    color: white;
}
h1{
    text-align: center;
}

#image_text{
    display: flex;
}

#about{
    border-color: black;
    text-align: right;
    width: auto;
    margin-left: 2px;
    margin-right: 0;
}


#lloyd{
    border-radius: 50%;
    border: 5px solid rgb(194, 116, 0);
    /* margin-left: 25%; */
    translate: 380px;
} 
#lloyd:hover{
    border-radius: 50%;
    border: 5px solid rgb(194, 0, 0);
    translate: 380px;
    rotate: 45deg;
} 

#tools{
    translate: 10px;
    width: 350px;
}

#anilist-stat{
    margin-top: 10px;
}

#second_manhwa_img{
    margin-left: 200px;
}

.friends_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* #github_stats{

} */
#friends{
    width: 50%;
    height: 50%;
}

#friend_git{
    display: flex;
}

#github_stats{
    translate: 200px;
    width: 400px;
}

#github_stats_text{ 
    margin-left: 200px;
}