body{
    /* display: flex;
    justify-content: center; */
    background-color: hsl(244, 27%, 10%);
    font-family: Comic Sans MS;
    color: white;
}
h1{
    text-align: center;
}

#image_text{
    display: flex;
}

#about{
    border-color: black;
}
p{
    text-align: right;
    width: 50%;
    margin-left: 2px;
    margin-right: 0;
}
#lloyd{
    border-radius: 50%;
    border: 5px solid rgb(194, 116, 0);
    margin-left: 25%;
} 
#lloyd:hover{
    border-radius: 50%;
    border: 5px solid rgb(194, 116, 0);
    margin-left: 25%;
    rotate: 45deg;
} 

#tools{
    translate: 10px;
    width: 350px;
}

#anilist-stat{
    margin-top: 10px;
}