*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    /* min-height: 100%; */
}

body{
    /* display: flex;
    justify-content: center; */
    font-family: Comic Sans MS;
    color: white;
    background-image: url('assests/background.png');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
}

#header{
    height: 10%;
 /* width: 100%;    */
    /* background-color: rgb(217, 58, 124); */
    z-index: 10;
    position: fixed;
    border-radius: 3%;
    display: flex;
}
#lloyd-small{
    width: 40px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 10px;
}
.text{
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
}


#anime-manga-col{
    background-image: url("https://i.pinimg.com/originals/93/7a/0f/937a0f64c67fc80a959be30c17c79a93.gif");
    background-size: cover;
}
#projects{
    background-image: url("https://media.tenor.com/PLIr_VkF6ywAAAAM/ghostedvpn-hacker-cat.gif");
    background-size: cover;
}
#fakeheader{
    height: 50px;
    width: 100%;
}


/* #page{
    height: 90vh;
    width: 100%;
} */
h1{
    text-align: center;
}

#image_text{
    display: flex;
    /* background-image: url('https://i.pinimg.com/originals/93/7a/0f/937a0f64c67fc80a959be30c17c79a93.gif');
    background-color: #cccccc; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-blend-mode: darken; */
}

#about{
    border-color: black;
    text-align: right;
    width: auto;
    margin-left: 2px;
    margin-right: 0;
}


#lloyd{
    border-radius: 50%;
    border: 5px solid rgb(194, 116, 0);
} 
#lloyd:hover{
    border-radius: 50%;
    border: 5px solid rgb(194, 0, 0);
    rotate: 45deg;
} 

#lloyd-link-to-github{
    translate: 380px;
}
/* hm if we use translate it makes the object get out of the parent and parent will be
there as it is */

#tools{
    translate: 10px;
    width: 350px;
    margin-top: 15px;
    margin-left: 15px;
}

#anilist-stat{
    margin-top: 10px;
}

#second_manhwa_img{
    margin-left: 250px;
}

.friends_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#friends{
    width: 50%;
    height: 50%;
}

#friend_git{
    display: flex;
}

#github_stats{
    translate: 150px;
    width: 400px;
}

#github_stats_text{ 
    margin-left: 200px;
}


